<div class="tree-item">
  <p [class.folder]="isFolder" (click)="toggleNode()">
    <input
      #RenameInput
      *ngIf="editmode"
      [value]="nodeData?.label"
      (focusout)="renameLabel()"
      (keyup.enter)="renameLabel()"
    />
    <span *ngIf="!editmode"
      >{{ isFolder ? "📂" : "📄" }} {{ nodeData?.label }}</span
    >
    <a (click)="clickDelete($event)">❎</a>
    <a (click)="clickRename($event)">✏️</a>
  </p>
  <!-- <p [style.cursor]="isFolder && 'pointer'" (click)="toggleNode()">{{ isFolder ? "📂" : "📄" }} {{ nodeData?.label }}</p> -->
  <ng-container *ngIf="!closed">
    <app-tree-item
      *ngFor="let item of nodeData?.items"
      [nodeData]="item"
      (deleteMe)="deleteItem($event)"
    ></app-tree-item>
  </ng-container>
</div>
